.page {
  margin: 0px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.page__header_grey {
  background-color: #E0E0E0;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 1250px;
  min-height: 90px;
  margin: 0 auto;
  background-color: black;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 90px;
}

.menu__item:hover {
  background-color: #FF3F40;
}

.menu__link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #E0E0E0;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

         /* intro */
.page__content{
  flex-grow: 1;
}

/* .intro__link {
  margin-right: 50px;
} */

.intro {
  padding-top: 102px;
  padding-bottom: 94px;
}

.intro__content {
  position: relative;
  bottom: 12px;
  width: 616px;
  margin-bottom: 20px;
  margin-right: 74px;
}

.intro__heading {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 60px;
  line-height: 72px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.intro__text {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 28px;
  max-width: 520px;
  margin-top: 36px;
  margin-bottom: 62px;
  font-weight: 200;
}

.action-button_red {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 228px;
  height: 56px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 6px; /* 6px по умалчанию */
}

.action-button {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF2D2D;
}

.intro__image {
  width: 554px;
  height: 360px;
  /* opacity: 0.2; */
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 1vw;
  padding-right: 1vw;
}

.intro__image {
  width: 550px;
  height: 355px;
}